.Select {
	@apply border-primary border-2 rounded-lg relative w-max transition
  ease-in-out duration-[var(--transition-duration-s)];
}

.trigger_container {
	@apply relative;
}

.icon {
	@apply h-5 w-5 text-gray-400;

	&_container {
		@apply pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2;
	}
}

.trigger {
	@apply relative w-full
  cursor-default rounded-lg bg-white py-2 pl-3
  pr-10 text-left shadow-md focus:outline-none focus-visible:border-indigo-500
  focus-visible:ring-2 focus-visible:ring-white/75 focus-visible:ring-offset-2
  focus-visible:ring-offset-orange-300 sm:text-sm;
	&.active {
		@apply outline outline-primary/50 focus:outline outline-[3px];
	}
}

.options {
	@apply absolute mt-1 overflow-auto rounded-md
  bg-white text-base shadow-lg border-2 border-primary w-full
  ring-1 ring-black/5 focus:outline-none sm:text-sm;
}

.option_span {
	@apply block truncate;

	&_active {
		@apply text-primary;
	}
}

.option {
	@apply relative cursor-default select-none py-2 px-4 text-center;

	&_active {
		@apply bg-amber-100 text-amber-900;
	}

	&_selected {
		@apply bg-amber-100 text-amber-900;
	}

	&.disabled {
		@apply opacity-70 pointer-events-none;
	}

	&:first-child {
		@apply rounded-t-lg;
	}

	&:last-child {
		@apply rounded-b-lg;
	}

	&.option_active {
		@apply opacity-100;
	}
}

.top_left {
	@apply bottom-full left-0 mb-2;
}

.top_right {
	@apply bottom-full right-0 mb-2;
}

.top_center {
	@apply bottom-full left-1/2 mb-2 -translate-x-1/2;
}

.right_top {
	@apply top-0 left-full ml-2;
}

.right_bottom {
	@apply bottom-0 left-full ml-2;
}

.left_top {
	@apply top-0 right-full mr-2;
}

.left_bottom {
	@apply bottom-0 right-full mr-2;
}

.bottom_right {
	@apply top-full right-0 mt-2;
}

.bottom_center {
	@apply top-full left-1/2 -translate-x-1/2 mt-2;
}

.bottom_left {
	@apply top-full  mt-2;
}
