.Product {
	@apply flex items-center w-full;
}

.icon {
	@apply w-6 ml-2;
	&:hover {
		@apply stroke-primary cursor-pointer;
	}
}

.image {
	@apply w-7 ml-2;
}

.price {
	@apply ml-auto font-bold text-green-700;
}

.controller {
	@apply mr-4;
}
