.Navlink {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	position: relative;
	opacity: 1;
	font: var(--font-xl);
	background: none;

	&.active {
		.title {
			background: var(--primary-color);
			@apply outline outline-offset-4 outline-primary;
		}
	}

	&.visited {
		.title{
			background: var(--primary-color);
		}
	}

	&.blocked {
		.title {
			background: var(--secondary-color);
		}
	}
}

.title {
	border-radius: 50%;
	color: var(--inverted-primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon {
	fill: var(--primary-color);
	width: 20px;
	margin: 5px auto 0;
}

.text {
	position: absolute;
	top: calc(100% + 5px);
	font: var(--font-md);
	cursor: text;
	user-select: text;
	background: var(--primary-color);
	color: var(--inverted-primary-color);
	border-radius: 15px;
	padding: 5px 10px;
	z-index: 10;

	&_inactive {
		@apply bg-secondary-color bg-opacity-100
	}
}
