.Navlink {
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all var(--transition-duration-s) ease-in-out;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}
}

.title {
	background: var(--primary-color);
	border-radius: 50%;
	color: var(--inverted-primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	font: var(--font-xl);
}

.icon {
	width: 20px;
	margin: 5px auto 0;
}

.text {
	color: var(--primary-color);

	span {
		border-bottom: 2px solid var(--primary-color);
	}
}
