.Input {
  @apply relative border-2 border-primary rounded-lg py-2 px-4 block;
}


.label {
  @apply right-1/2 text-primary left-2
  absolute pointer-events-none top-1/2 -translate-y-1/2
  bg-inverted-primary transition-all duration-500 px-1 w-max;
}

.input {
  @apply outline-none w-full;

  &:invalid {
    @apply text-red-400;
  }

  &:not(:placeholder-shown), &:-webkit-autofill, &:focus {
    & ~ .label {
      @apply right-1/2 text-primary top-0;
    }
  }
}




