.Result {
  @apply px-20 pt-20
}

.header {
  @apply mb-7 font-bold flex justify-between items-center;
  h2 {
    @apply text-2xl;
  }
}

.main_content {
  @apply flex w-full gap-md;
}

.results {
  @apply flex flex-col gap-sm w-full basis-2/3
}

.info {
  @apply basis-1/3;
}

.card {
  @apply bg-white even:mt-3;
}

.list {
  @apply text-gray-500;
}
